<div class="body">
    <div class="row">
        <div class="col-12">
            <div class="row aboutArea">
                <div class="col-4">
                    <div>
                        <h3>Update Appointment</h3>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-6">
                    <div class="rectangle">
                        <div class="col-4" style="margin-left: 80px;">
                            <span class="dateTitle">Date</span><br>
                            <span class="date" style="opacity: 0.7;">10/18/2024</span>
                        </div>
                        <div class="col-3">
                            <img src="../Assets/unsplash_tB5ZZtHZ_tI.png" alt="" class="profileImg">
                        </div>
                        <div class="col-5" style="margin-left: 25px;">
                            <span>Nisila Perera</span><br>
                            <span style="opacity: 0.7;">Admin</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fromSection col-12">
                <div class="row-1 col-12">
                    <div style="position: relative; display: flex; align-items: center;">
                        <input type="text" class="searchBar" placeholder="Search">
                        <img src="Assets/01 align center.svg" alt="" class="searchIcon">
                    </div>
                </div>
                <div class="row-2 col-12">
                    <input type="text" name="" id="" class="apponitmentId">
                </div>
                <div class="row-2 col-12" style="display: flex;">
                    <div class="col-5">
                        <input type="text" name="" id="" placeholder="Enter Name" class="txtName">
                    </div>
                    <div class="col-5">
                        <input type="text" name="" id="" placeholder="Enter Nic Number" class="txtNic">
                    </div>
                </div>
                <div class="row-2 col-12" style="display: flex;">
                    <div class="col-5">
                        <input type="text" name="" id="" placeholder="Enter Mobile Number" class="txtMobile">
                    </div>
                    <div class="col-5">
                        <input type="text" name="" id="" placeholder="Enter Email Address" class="txtEmail">
                    </div>
                </div>
                <div class="row-2 col-12" style="display: flex;">
                    <div class="col-4 maleFemaleBtn" style="display: flex;">
                        <label class="switch">
                            <input type="checkbox" checked="">
                        </label>
                    </div>
                    <div class="col-3">
                        <input type="date" name="" id="" class="aptDate">
                    </div>
                    <div class="col-3">
                        <input type="time" name="" id="" class="aptTime">
                    </div>
                </div>
                <div class="row-2 col-12" style="display: flex;">
                    <div class="col-5">
                        <input type="text" name="" id="" placeholder="Enter Description" class="txtDesc">
                    </div>
                    <div class="col-5">
                        <input type="" name="" id="" placeholder="Enter Category" class="txtCategory">
                    </div>
                </div>
                <div class="row-1 col-12">
                    <button class="btnUpdate">update</button>
                </div>
            </div>
        </div>
    </div>