<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="appointment-update.component.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" />
<div class="body">
    <div class="row">
        <div class="col-3" id="navigationBar">
            <!-- navigation bar is here -->
        </div>
        <div class="col-9" id="body2">
            <div class="row" style="align-items: center;">
                <div class="col-3">
                    <h2>Update Appointment</h2>
                </div>
                <div class="col-2">
                </div>
                <div class="col-4">
                    <div class="rectangle">
                        <div class="date">
                            <span>Date</span><br>
                            <span class="todayDate">10/18/2024</span>
                        </div>
                        <div class="d-flex">
                            <img src="Assets/603f0854508fc1d2465d3195dec51e0f.jpeg" alt="profileImage">
                            <div class="aboutArea">
                                <span>Nisila Perera</span><br>
                                <span class="role">Admin</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="bodyRectangle">
                        <div style="position: relative; display: flex; align-items: center;">
                            <input type="text" class="searchBar" placeholder="Search">
                            <img src="Assets/01 align center.svg" alt="" class="searchIcon">
                        </div>
                        <div class="idInput">
                            <input type="text" class="idBar">
                        </div>
                        <div class="col-6 nameInput">
                            <input type="text" class="nameBar" placeholder="Enter Name">
                        </div>
                        <div class="col-6 nicInput">
                            <input type="text" class="nicBar" placeholder="Enter Nic Number">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>