<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="patient-info.component.css">
</head>

<body>

    <div class="container mt-5" id="full-profile">
        <div class="row p-4">
            <div class="col-4 text-center p-3" id="patient-info">
                <div class="profile-img"></div>
                <h4 class="mt-3">Ruwan Perera</h4>
                <p>ruwan.prgmail.com</p>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>12</h3>
                        <h6>Appointments</h6>
                    </div>
                    <div class=" col-sm-6">
                        <h3>A+</h3>
                        <h6>Blood</h6>
                    </div>
                </div>
                <button class="btn btn-hold mt-2">Hold Patient</button>
            </div>

            <div class="col-8 p-3" id="profile-right">
                <div class="row">
                    <div class="col-sm-4">
                        <h6 id="details">Patient ID</h6> <a><b>1002</b></a><br>
                        <h6 id="details">Address</h6> <a><b>12/17, Asgiriya</b></a><br>
                        <h6 id="details">DOB</h6> <a><b> 1992-06-24</b></a><br><br>
                        <h6 id="details">Remarks</h6> <a><b> Dust Mite Allergy, Food Allergies</b></a><br>
                    </div>
                    <div class="col-sm-4">
                        <h6 id="details">Name</h6> <a><b> Ruwan Perera</b></a><br>
                        <h6 id="details">Email</h6> <a><b>ruwan.prgmail.com</b></a><br>
                        <h6 id="details"> NIC</h6><a><b> 1992347658982</b></a><br><br><br>
                        <h6 id="details">Status </h6><a><b> <span class="status-active"><button id="active-button">Active</button></span></b></a><br>
                    </div>
                    <div class="col-sm-4">
                        <h6 id="details">Age</h6><a><b>34</b></a><br>
                        <h6 id="details">Gender</h6><a><b>Male</b></a><br>
                        <h6 id="details">Phone Number</h6> <a><b>071 3454987</b></a><br>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>

</html>