<div class="container-fluid">
    <div class="row text-center align-items-center heading">
      <h1>Add Records</h1>
    </div>
    <div class="container h-100 mt-5 gx-0">
      <div class="row">
        <!-- Patient Report Section -->
        <div class="col-4 mt-5">
          <h3 class="fw-semibold text-center">Patient Report Details</h3>
          <div class="list-container py-4 d-flex justify-content-center flex-wrap">
            <input class="w-50" type="date" name="filter-date" id="filterDate" />
            <table class="table w-75 mt-4">
              <tbody>
                <tr>
                  <td>List Item 01</td>
                  <td><input type="checkbox" name="" id="listItem1" /></td>
                </tr>
                <tr>
                  <td>List Item 02</td>
                  <td><input type="checkbox" name="" id="listItem2" /></td>
                </tr>
                <tr>
                  <td>List Item 03</td>
                  <td><input type="checkbox" name="" id="listItem3" /></td>
                </tr>
                <tr>
                  <td>List Item 04</td>
                  <td><input type="checkbox" name="" id="listItem4" /></td>
                </tr>
                <tr>
                  <td>List Item 05</td>
                  <td><input type="checkbox" name="" id="listItem5" /></td>
                </tr>
                <tr>
                  <td>List Item 06</td>
                  <td><input type="checkbox" name="" id="listItem6" /></td>
                </tr>
                <tr>
                  <td>List Item 07</td>
                  <td><input type="checkbox" name="" id="listItem7" /></td>
                </tr>
                <tr>
                  <td>List Item 08</td>
                  <td><input type="checkbox" name="" id="listItem8" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  