<div class="container d-flex">
    <div class="prescription-name">
      <p>Prescription</p>
    </div>

    <div class="search">
      <div class="row justify-content-center">
        <div class="search-bar-container">
          <div class="search-container d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="30" fill="#80CD84" class="bi bi-search"
              viewBox="0 0 16 16" id="search-icon">
              <path fill-rule="evenodd" stroke="#80CD84" stroke-width="0.5"
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
            <input type="text" class="search-bar form-control" placeholder="Search patient by ID..." />
          </div>
        </div>
      </div>
    </div>

    <button class="slider">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#38823E" class="bi bi-sliders" viewBox="0 0 16 16">
        <path fill-rule="evenodd" stroke="#38823E" stroke-width="0.5"
          d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z" />
      </svg>      
    </button>

    <p class="home-prescription-name">Home/Prescription</p>
  </div>
