

<div class="container">
  <div class="row">
    <div class="col-3">
      <app-nav-bar></app-nav-bar>
      <router-outlet></router-outlet>
    </div>
    <div class="col-7">
      <app-view-records-reports></app-view-records-reports>
    </div>
  </div>
</div>




<!-- <app-appointment-handling></app-appointment-handling> -->
<app-medical-records-handling></app-medical-records-handling>
<!-- <app-patient-management></app-patient-management>
<app-prescription-management></app-prescription-management> -->
