<div id="sidebar" class="flex-shrink-0 d-flex flex-column ">
    <div id="sidebar" class="p-3 d-flex flex-column" style="width: 280px;">
        <!-- <a href="/" class="mb-3 d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4">Sidebar</span>
        </a> -->
        <div class="logo-box">
            Medix
        </div>
        <hr>
        <ul class="mb-auto nav nav-pills flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link link-light" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home" />
                    </svg>
                    <i class="bi bi-house-heart-fill me-2"></i> Home
                    <hr class="dropdown-divider">
                </a>
            </li>
            <li>
                <a href="#items-submenu-pat" class="rounded nav-link link-light btn btn-toggle align-items-center collapsed"
                   data-bs-toggle="collapse" aria-expanded="false" id="nav-patients">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table" />
                    </svg>
                    <i class="bi bi-people-fill me-2"></i>Patients
                    <hr class="dropdown-divider">
                </a>
                
                <ul class="pb-1 collapse btn-toggle-nav list-unstyled fw-normal small" id="items-submenu-pat">
                    <li class="nav-item" id="liViewPatient">
                        <a routerLink="view-patient" class="nav-link link-dark"><span class="separator">|</span>View patient</a>
                    </li>
                    <li class="nav-item" id="liAddPatient">
                        <a routerLink="add-patient" class="nav-link link-dark"><span class="separator">|</span>Add patient</a>
                    </li>
                    <li class="nav-item" id="liDeletePatient">
                        <a routerLink="search-patient" class="nav-link link-dark"><span class="separator">|</span>Search patient</a>
                    </li>
                    <li class="nav-item" id="liDeletePatient">
                        <a routerLink="update-patient" class="nav-link link-dark"><span class="separator">|</span>Update Patient</a>
                    </li>
                </ul>
            
            </li>
            
            <li>
                <a href="#items-submenu-apo" class="rounded nav-link link-light btn btn-toggle align-items-center collapsed"
                    data-bs-toggle="collapse" aria-expanded="false" id="nav-appointments">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table" />
                    </svg>
                    <i class="bi bi-file-earmark-post me-2"></i>Appointments
                    <hr class="dropdown-divider">
                </a>
                <ul class="pb-1 collapse btn-toggle-nav list-unstyled fw-normal small" id="items-submenu-apo">
                    <li class="nav-item" id="liViewAppointment">
                        <a routerLink="view-appointments" class="nav-link link-dark"><span class="separator">|</span>View appointments</a>
                    </li>
                    <li class="nav-item" id="liAddAppointment">
                        <a routerLink="add-appointment" class="nav-link link-dark"><span class="separator">|</span>Add appointments</a>
                    </li>
                    <li class="nav-item" id="liUpdateAppointment">
                        <a href="#" class="nav-link link-dark"><span class="separator">|</span>Update appointments</a>
                    </li>
                    <li class="nav-item" id="liDeleteAppointment">
                        <a routerLink="delete-appointment" class="nav-link link-dark"><span class="separator">|</span>Delete appointments</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="nav-link link-light">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#grid" />
                    </svg>
                    <i class="bi bi-person-workspace me-2"></i>Doctors
                    <hr class="dropdown-divider">
                </a>
            </li>

            <li>
                <a routerLink="prescription-management" class="nav-link link-light">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#grid" />
                    </svg>
                    <i class="bi bi-file-earmark-ppt-fill me-2"></i>Prescription
                    <hr class="dropdown-divider">
                </a>
            </li>

            <li>
                <a href="#items-submenu-category"
                    class="rounded nav-link link-light btn btn-toggle align-items-center collapsed"
                    data-bs-toggle="collapse" aria-expanded="false" id="nav-category">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table" />
                    </svg>
                    <i class="bi bi-bookmarks-fill me-2"></i>Category
                    <hr class="dropdown-divider">
                </a>
                <ul class="pb-1 collapse btn-toggle-nav list-unstyled fw-normal small" id="items-submenu-category">
                    <li class="nav-item" id="liViewCategory">
                        <a href="#" class="nav-link link-dark"><span class="separator">|</span>View category</a>
                    </li>
                    <li class="nav-item" id="liAddCategory">
                        <a href="#" class="nav-link link-dark"><span class="separator">|</span>Add category</a>
                    </li>
                    <li class="nav-item" id="liUpdateCategory">
                        <a href="#" class="nav-link link-dark"><span class="separator">|</span>Update category</a>
                    </li>
                    <li class="nav-item" id="liDeleteCategory">
                        <a href="#" class="nav-link link-dark"><span class="separator">|</span>Delete category</a>
                        
                    </li>
                </ul>
            </li>
            <li>
                <a href="#items-submenu-reports"
                    class="rounded nav-link link-light btn btn-toggle align-items-center collapsed"
                    data-bs-toggle="collapse" aria-expanded="false" id="nav-reports">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table" />
                    </svg>
                    <i class="bi bi-file-bar-graph-fill me-2"></i>Reports
                    <hr class="dropdown-divider">
                </a>
                <ul class="pb-1 collapse btn-toggle-nav list-unstyled fw-normal small" id="items-submenu-reports">
                    <li class="nav-item" id="liViewCategory">
                        <a href="#" class="nav-link link-dark"><span class="separator">|</span>View reports</a>
                    </li>
                    <li class="nav-item" id="liAddCategory">
                        <a href="#" class="nav-link link-dark"><span class="separator">|</span>Add reports</a>
                    </li>
                    <li class="nav-item" id="liDeleteCategory">
                        <a href="#" class="nav-link link-dark"><span class="separator">|</span>Delete reports</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#items-submenu-records"
                    class="rounded nav-link link-light btn btn-toggle align-items-center collapsed"
                    data-bs-toggle="collapse" aria-expanded="false" id="nav-records">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table" />
                    </svg>
                    <i class="bi bi-folder-fill me-2"></i>Records
                    <hr class="dropdown-divider">
                </a>
                <ul class="pb-1 collapse btn-toggle-nav list-unstyled fw-normal small" id="items-submenu-records">
                    <li class="nav-item" id="liViewCategory">
                        <a href="#" class="nav-link link-dark"><span class="separator">|</span>View records</a>
                    </li>
                    <li class="nav-item" id="liAddCategory">
                        <a href="#" class="nav-link link-dark"><span class="separator">|</span>Add records</a>
                    </li>
                    <li class="nav-item" id="liUpdateCategory">
                        <a href="#" class="nav-link link-dark"><span class="separator">|</span>Update records</a>
                    </li>
                    <li class="nav-item" id="liDeleteCategory">
                        <a href="#" class="nav-link link-dark"><span class="separator">|</span>Delete records</a>
                        
                    </li>
                </ul>
            </li>

        </ul>
        <h5 id="log-out"><i class="bi bi-box-arrow-right ms-5 me-2"></i>log out</h5>
    </div>
</div>