<div class="col-lg-7 col-md-7 col-sm-12">
  <div class="container">
    <div class="form-section">
      <input type="text" id="drug-name" placeholder="Drug Name">
      <input type="text" id="dosage" placeholder="Dosage">
      <input type="text" id="frequency" placeholder="Frequency">
      <button id="add-drug" class="add-btn">+</button>
    </div>

    <div class="modal-body" style="width:100%;overflow:auto; max-height:200px;">
      <table class="table table-success table-striped-columns">
        <thead>
          <tr class="text-center">
            <th scope="col" class="text-success">Drug</th>
            <th scope="col" class="text-success">Dosage</th>
            <th scope="col" class="text-success">Frequency</th>
            <th scope="col" class="text-success">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Paracetamol (Acetaminophen)</td>
            <td>500 mg</td>
            <td>Every 6H</td>
            <td>
              <button class="edit-btn"><i class="bi bi-pencil-square"></i></button>
              <button class="delete-btn"><i class="bi bi-trash3-fill"></i></button>
            </td>
          </tr>
          <tr>
            <td>Ibuprofen</td>
            <td>400 mg</td>
            <td>Every 8H</td>
            <td>
              <button class="edit-btn"><i class="bi bi-pencil-square"></i></button>
              <button class="delete-btn"><i class="bi bi-trash3-fill"></i></button>
            </td>
          </tr>
          <tr>
            <td>Aspirin</td>
            <td>650 mg</td>
            <td>Every 6H</td>
            <td>
              <button class="edit-btn"><i class="bi bi-pencil-square"></i></button>
              <button class="delete-btn"><i class="bi bi-trash3-fill"></i></button>
            </td>
          </tr>
          <tr>
            <td>Naproxen</td>
            <td>500 mg</td>
            <td>Every 8H</td>
            <td>
              <button class="edit-btn"><i class="bi bi-pencil-square"></i></button>
              <button class="delete-btn"><i class="bi bi-trash3-fill"></i></button>
            </td>
          </tr>
          <tr>
            <td>Diclofenac</td>
            <td>100 mg</td>
            <td>Every 6H</td>
            <td>
              <button class="edit-btn"><i class="bi bi-pencil-square"></i></button>
              <button class="delete-btn"><i class="bi bi-trash3-fill"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="confirm-wrapper">
      <button type="button" class="confirm-btn" data-bs-toggle="modal" data-bs-target="#myModal">
        Confirm
      </button>
    </div>
  </div>
</div>